body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:240px;
  height:344px;
}
#u82_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:344px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:344px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u84_img.selected {
}
#u84.selected {
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:240px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u85_img.selected {
}
#u85.selected {
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:240px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u86_img.mouseOver {
}
#u86.mouseOver {
}
#u86_img.selected {
}
#u86.selected {
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:240px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u87_img.selected {
}
#u87.selected {
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:240px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u88_img.mouseOver {
}
#u88.mouseOver {
}
#u88_img.selected {
}
#u88.selected {
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:232px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:240px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u89_img.selected {
}
#u89.selected {
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:240px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u90_img.mouseOver {
}
#u90.mouseOver {
}
#u90_img.selected {
}
#u90.selected {
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:240px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u91_img.selected {
}
#u91.selected {
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:38px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:240px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u92_img.mouseOver {
}
#u92.mouseOver {
}
#u92_img.selected {
}
#u92.selected {
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:40px;
  width:240px;
  height:40px;
  visibility:hidden;
}
#u93_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000CC;
  text-align:left;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u95_img.selected {
}
#u95.selected {
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:71px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:240px;
  height:71px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:236px;
  word-wrap:break-word;
}
