body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:1525px;
  height:159px;
  overflow:hidden;
}
#u43_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:159px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
}
#u43_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:159px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:159px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:37px;
  background:inherit;
  background-color:rgba(124, 179, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1505px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1501px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:412px;
  width:1px;
  height:43px;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:80px;
  width:200px;
  height:333px;
}
#u48_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:333px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:333px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:44px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:200px;
  height:44px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:200px;
  height:44px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:200px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:200px;
  height:41px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:200px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:200px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:793px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:21px;
  height:793px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:326px;
  width:19px;
  height:22px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:373px;
  width:19px;
  height:29px;
  color:#FFFFFF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:277px;
  width:20px;
  height:26px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:845px;
  width:57px;
  height:41px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:886px;
  width:106px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:924px;
  width:139px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:886px;
  width:29px;
  height:22px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:918px;
  width:31px;
  height:28px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:954px;
  width:301px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:80px;
  width:1213px;
  height:650px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:118px;
  width:19px;
  height:32px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:160px;
  width:19px;
  height:36px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:206px;
  width:20px;
  height:36px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
