#fixNav{
    width: 100%;
    height: 50px;
    background-color: 	#228B22;
    display: block;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
    top: 0; /*Nằm trên cùng*/
    left: 0; /*Nằm sát bên trái*/
    z-index: 100000; /*Hiển thị lớp trên cùng*/
}

#fixNav2{
    width: 300px;
    height: 300px;

    display: block;

    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
    top: 300px; /*Nằm trên cùng*/
    right: 0; /*Nằm sát bên trái*/
    z-index: 100000; /*Hiển thị lớp trên cùng*/
}