a{
  text-decoration: none;
}
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
@media only screen and (max-width:2000px) and (min-width: 1024px) {
  #u42_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1900px;
    height:37px;
    background:inherit;
    background-color:rgba(124, 179, 66, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Bold', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    color:#FFFFFF;
  }
  #u39_state0 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1900px;
    height:159px;
    -ms-overflow-x:hidden;
    overflow-x:hidden;
    -ms-overflow-y:hidden;
    overflow-y:hidden;
    background-color:rgba(40, 40, 40, 1);
    background-image:none;
  }
}
#base {
  position:absolute;
  z-index:0;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:1574px;
  height:159px;
  overflow:hidden;
}
#u39_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:159px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
}
#u39_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:159px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:159px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:412px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:37px;
  background:inherit;
  background-color:rgba(124, 179, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1570px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:412px;
  width:1px;
  height:43px;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:80px;
  width:200px;
  height:333px;
}
#u44_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:333px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:333px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:44px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:200px;
  height:44px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:200px;
  height:44px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:200px;
  height:30px;
  font-family:'Times New Roman Bold', 'Times New Roman Regular', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:200px;
  height:41px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:200px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:200px;
  height:50px;
  font-family:'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#3F51B5;
  text-align:left;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:793px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:21px;
  height:793px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:324px;
  width:19px;
  height:22px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:373px;
  width:19px;
  height:29px;
  color:#FFFFFF;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:279px;
  width:20px;
  height:26px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:27px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:117px;
  width:19px;
  height:27px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:41px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:845px;
  width:57px;
  height:41px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:886px;
  width:106px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:924px;
  width:139px;
  height:22px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:886px;
  width:29px;
  height:22px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:918px;
  width:31px;
  height:28px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:954px;
  width:301px;
  height:17px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:205px;
  width:22px;
  height:29px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:141px;
  width:1213px;
  height:544px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:164px;
  width:19px;
  height:21px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
