body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:209px;
  width:273px;
  height:484px;
}
#u40_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:484px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:484px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:57px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:57px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u42_img.selected {
}
#u42.selected {
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:19px;
  width:265px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:59px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:273px;
  height:59px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.selected {
}
#u43.selected {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:20px;
  width:265px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:56px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:273px;
  height:56px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u44_img.selected {
}
#u44.selected {
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:18px;
  width:265px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:49px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:273px;
  height:49px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u45_img.selected {
}
#u45.selected {
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:15px;
  width:265px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:48px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:221px;
  width:273px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u46_img.selected {
}
#u46.selected {
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:265px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:55px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:273px;
  height:55px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_img.selected {
}
#u47.selected {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:18px;
  width:265px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:48px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:273px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u48_img.selected {
}
#u48.selected {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:265px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:59px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:273px;
  height:59px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u49_img.selected {
}
#u49.selected {
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:20px;
  width:265px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:53px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:273px;
  height:53px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:left;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u50_img.selected {
}
#u50.selected {
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:17px;
  width:265px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:57px;
  width:240px;
  height:40px;
  visibility:hidden;
}
#u51_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000CC;
  text-align:left;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_img.selected {
}
#u53.selected {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:142px;
  background:-webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:67px;
  width:273px;
  height:142px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:269px;
  word-wrap:break-word;
}
